/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.home{
    font-family: HelveticaNeueLight;
    font-size: 20px;
    height: min-content;
    background:none;
    border:none;
    margin-bottom: 20px;
    color: #000;
}
.our-works{
    font-family: HelveticaNeueLight;
    font-size: 20px;
    height: min-content;
    background:none;
    border:none;
    margin-bottom: 20px;
    color: #000;
}
.pricing{
    font-family: HelveticaNeueLight;
    font-size: 20px;
    height: min-content;
    background:none;
    border:none;
    margin-bottom: 20px;
    color: #000;
}

.presentation_one{
  background-image: linear-gradient(to top right, #D5D5D5, #d1d1d1);
}

.presentation_two{
  background-image: url('./images/presentation_1/WEBSITEUXBG.png');
}

.presentation_three{
  background-image: #ffffff;
}
.presentation_four{

  background-image: url('./images/presentation_7/WEBSITEUXBG.png');
}
.presentation_five{

  background-image: url('./images/presentation_5/WEBSITEUXBG.png');
}
.presentation_six{

  background-color:#ffffff;
}
.presentation_seven{

  background-color:#969696;
}
.presentation_eight{

  background-color:  #70707065;
}
.presentation_nine{

  background-color:  #707070;
}
.presentation_ten{

  background-color:#00000038;
}
.presentation_eleven{
  background-color:#8B8B8B25;
}
.presentation_twelve{
  background-color:#ffffff;
}

.carousel {
  background-color: transparent;
}

.carousel-cell {
  width: 70%;
  height: 100vh;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display:         flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.carousel-cell img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* dim unselected */
  opacity: 0.7;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: opacity 0.1s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
          transition: opacity 0.1s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.carousel-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell {
    height: 100vh;
  }
}

@media screen and ( min-width: 960px ) {
  .carousel-cell {
    width: 60%;
  }
}

/* buttons, no circle */
.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0.8;
}
.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: black;
}
.flickity-prev-next-button.no-svg {
  color: black;
}
/* closer to edge */
.flickity-prev-next-button.previous { left: 0; bottom: 50;}
.flickity-prev-next-button.next { right: 0; bottom: 50; }
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}


/* position dots up a bit */
.flickity-page-dots {
  height: 0px;
  width: 0px;
  color: transparent;
  background: transparent;
}
/* dots are lines */
.flickity-page-dots .dot {
  height: 0px;
  width: 0px;
  margin: 0;
  border-radius: 0;
  color: transparent;
  background: transparent;
}


.flickity-page-dots .dot.is-selected {
  height: 0px;
  width: 0px;
  background: transparent;
}
@font-face {
  font-family: HelveticaNeueLight;
  src: url("./fonts/helvetica-neue-master/Helvetica\ Neue\ LT\ 45\ Light.ttf");
}
@font-face {
  font-family: HelveticaNeueUltralight;
  src: url("./fonts/helvetica-neue-master/HelveticaNeue-Ultralight.otf");
}




