/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.presentation_one{
  width: 100vw;
  height: 100vh;
  background-image: url('./images/presentation_1/WEBSITEUXBG.png');
}

.presentation_two{
  width: 100vw;
  height: 100vh;
  background-image: #ffffff;
}

.presentation_three{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to top right, #D5D5D5, #6B6B6B);
}

.presentation_four{
  width: 100vw;
  height: 100vh;
  background-color:#969696;
}
.presentation_five{
  width: 100vw;
  height: 100vh;
  background-image: url('./images/presentation_5/WEBSITEUXBG.png');
}
.presentation_six{
  width: 100vw;
  height: 100vh;
  background-color:#ffffff;
}
.presentation_seven{
  width: 100vw;
  height: 100vh;
  background-image: url('./images/presentation_7/WEBSITEUXBG.png');
}
.presentation_eight{
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient()(#000000, #ffffff);
}
.presentation_ten{
  width: 100vw;
  height: 100vh;
  background-color:#00000038;
}
.presentation_eleven{
  width: 100vw;
  height: 100vh;
  background-color:#8B8B8B25;
}
.presentation_twelve{
  width: 100vw;
  height: 100vh;
  background-color:#ffffff;
}

.carousel {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

.carousel-cell {
  width: 70%;
  height: 100vh;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display:         flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.carousel-cell img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* dim unselected */
  opacity: 0.7;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: opacity 0.1s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
          transition: opacity 0.1s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.carousel-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell {
    height: 100vh;
  }
}

@media screen and ( min-width: 960px ) {
  .carousel-cell {
    width: 60%;
  }
}

/* buttons, no circle */
.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0.6;
}
.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* closer to edge */
.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}