*
{
    margin: 0;
    padding: 0;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
}
body{
    font-family: sans-serif;
    overflow-x: hidden;
}
#nav-bar{
    top: 0;
    z-index: 10;
    width: 100vw;
    background-color: #ffffff;
    position: fixed;
}
.navbar{
    height: 70px;
    background-color: #ffffff;
    padding: 0 !important;
}
.navbar-brand {
    display: flex;
    flex-direction: row;
}

.company{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.snow{
    font-family: HelveticaNeueThin;
    font-size: 30px;
    margin-left: 20px;
    color: black;
}
.ball{
    font-family: HelveticaNeueBold;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 3px;
    color: black;
}

.navbar-brand img{
    height: 56px;
    padding-left: 30px;
    background-color: #ff000000;
}
.navbar-nav li a{
    font-family: HelveticaNeueRegular;
    font-size: 20px;
    justify-content:center ;
    align-self: center;
    float: right;
    text-align: left;
}
.nav-link{
    color: #838383;
    font-size: 24px;
    margin-top: 20px;
    background: none;
    border: none;
    font-family: HelveticaNeueMedium;
}
.nav-link:hover{
    color: #000000;
    font-size: 24px;
    margin-top: 20px;
    background: none;
    border: none;
    font-family: HelveticaNeueMedium;
}


/*-------------banner section-----------*/

.banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.promo-title{
    position: relative;
    text-align: start;
    color: #FFFFFF;
    width: 100vw;
    font-size: 2.2vw;
    line-height: 90px;
    align-self: center;
    font-family:  HelveticaNeueBold;
}
.promo-quality{
    position: relative;
    text-align: start;
    color: #FFFFFF;
    left: 30%;
    bottom: 15%;
    margin-top: 20px;
    right: 0;
    width: fit-content;
    font-size: 28px;
    font-family: HelveticaNeueThin;
}

/*-------------What does it do for you-----------*/

#What-does-it-do{
    position:relative; 
    display: flex; 
    justify-content: center; 
    width: 100vw; 
    height: 100vh; 
    align-content: center;
    background-color: black;
}
.What-it-do{
    position: absolute;
    flex: 1;
    flex-direction: row;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title-what-it-do{
    position: relative;
    color: #FFFFFF;
    font-size: 70px;
    line-height: 90px;
    text-align: center;
    font-family: HelveticaNeueBold;
}
.what-it-do-box{
    width: 100vw; 
    position: relative; 
    margin-top: 50px;
    display: flex; 
    flex-direction: row; 
    justify-self:center; 
    align-self: center; 
}
.stats{
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}
.stats-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: center;
    align-self: center;
    margin-left: 50px;
}
.stats-quotes{
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    justify-content: center;
    vertical-align: middle;
    text-align: start;
    font-size: 70px;
    line-height: 90px;
    font-family: HelveticaNeueBold;
    color: white;
    margin-top: 20%;
    margin-left: 50px;
}

/*-------------What does it do for you two-----------*/

#What-does-it-do-two{
    position:relative; 
    display: flex; 
    justify-content: center; 
    width: 100vw; 
    height: 100vh; 
    align-content: center;
    background-color: black;
}
.What-it-do-two{
    position: absolute;
    flex: 1;
    flex-direction: row;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.what-it-do-box-two{
    width: 100vw; 
    position: relative; 
    margin-top: 50px;
    display: flex; 
    flex-direction: row; 
    justify-self:center; 
    align-self: center; 
}
.stats-two{
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}
.stats-image-two{
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: center;
    align-self: center;
    margin-left: 50px;
}
.stats-quotes-two{
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    justify-content: center;
    vertical-align: middle;
    text-align: start;
    font-size: 70px;
    line-height: 90px;
    font-family: HelveticaNeueBold;
    color: white;
    margin-top: 20%;
    margin-left: 50px;
}


/*-------------our work footer-----------*/

#our-work-footer{
    position: relative;
    padding-top:200px 0;
}
.work-text{
    justify-self: center;
    align-self: center;
    position: absolute;
}
.title{
    font-family: HelveticaNeueBold;
    font-size: 40;
    text-align: center;
    justify-content: center;
    color: white;
}
.button{
    position: relative;
    display: block;
    margin: 10px auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    overflow: hidden;
    font-family: HelveticaNeueMedium;
    font-size: 30px;
    border-width: 0;
    outline: none;
    border-radius: 25px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    
    background-color: #ffffff;
    color: #000000;
    
    transition: background-color .3s;
}

.footer{
    width: 100%;
    height: 70px;
    z-index: 3000;
    bottom: 0;
    left: 0;
    justify-content: space-evenly;
    position: absolute;
    clear: both;
}

.linkedin{
    font-family: HelveticaNeueLight;
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
}
.facebook{
    font-family: HelveticaNeueLight;
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
}
.request{
    font-family: HelveticaNeueLight;
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
}
.contact{
    font-family: HelveticaNeueLight;
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
}

/*-------------our story page-----------*/
#our-story{
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #FFFFFF;
}
.title-story{
    text-align: start;
    font-size: 40px;
    padding-top: 20px;
    font-family: HelveticaNeueLight;
    color: #000;
}
.quote-light{
    text-align: start;
    font-family: HelveticaNeueLight;
    font-size: 30px;
    line-height: 5px;
    margin-left: 5px;
    padding-top: 30px;
}
.quote-bold{
    text-align: start;
    font-family: HelveticaNeueBold;
    line-height: 5px;
    font-size: 35px;
    padding-top: 20px;
    margin-left: 5px;
}
.statement{
    text-align: start;
    font-family: HelveticaNeueThin;
    line-height: 30px;
    font-size: 25px;
    padding-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
}
.timeline{
    object-fit: contain;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 30px;
}
.go-to{
    font-family: HelveticaNeueLight;
    font-size: 18px;
    margin-bottom: 20px;
    color: #000;
    border-right: 2px solid #000;
}
.home{
    font-family: HelveticaNeueLight;
    font-size: 18px;
    height: min-content;
    background:none;
    border:none;
    margin-bottom: 20px;
    color: #000;
}
.our-works{
    font-family: HelveticaNeueLight;
    font-size: 18px;
    height: min-content;
    background:none;
    border:none;
    margin-bottom: 20px;
    color: #000;
}
.pricing{
    font-family: HelveticaNeueLight;
    font-size: 18px;
    height: min-content;
    background:none;
    border:none;
    margin-bottom: 20px;
    color: #000;
}
.request-price{
    font-family: HelveticaNeueLight;
    font-size: 18px;
    height: min-content;
    background:none;
    border:none;
    margin-bottom: 20px;
    color: #000;
}

/*--------------------------pricing----------------------*/
#pricing-page{
    flex: 1;
    top: 0;
    background-color: white;
}
.title-bar{
    height: 70px;
    width: 100vw;
    position: absolute;
    top:0;
}
.centered {
    position: absolute;
    font-family: HelveticaNeueLight;
    color: white;
    font-size: 30px;
    top: 40px;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
  }
  .subscription-container{
      height: 100%;
      width: 100%;
      margin-bottom: -70px;
      position: relative;
      background-color: white;
      align-self: center;
      justify-content: center;
  }
  .subscription{
      position: relative;
      top: 120px;
      width: 160px;
      height: 72px;
      margin-right: 30px;
      align-content: flex-end;
      justify-self: flex-end;
      justify-content: flex-end;
  }
  .per-slide{
    position: relative;
    top: 120px;
    height: 72px;
    width: 160px;
    margin-left: 30px;
    margin-right: 30px;
    align-content: center;
    justify-content: center;
}
.per-day{
    position: relative;
    top: 120px;
    height: 72px;
    width: 160px;
    margin-left: 30px;
    align-content: flex-start;
    justify-content: flex-start;
}
  .subscription-plans{
    position: relative;
    flex: 1;
    padding-left: 10px;
    left: 46%;
    width: 160px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius:20px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    background-color: black;
    font-size: 20px;
    color: white;
    font-family: HelveticaNeueBold;
  }
  .price-quote{
      position: relative;
      text-align: center;
      font-family: HelveticaNeueLight;
      font-size: 43px;
      top: 100px;
      color: black;
      align-self: center;
  }
  .price-contact{
    position: relative;
    text-align: center;
    height: min-content;
    font-family: HelveticaNeueLight;
    font-size: 43px;
    background:none;
    border:none;
    top: 10%;
    color: #707070;
  }
  .price-contact:hover  {
    position: relative;
    text-align: center;
    font-family: HelveticaNeueLight;
    font-size: 43px;
    height: min-content;
    background:none;
    border:none;
    top: 10%;
    color: black;
  }

  .subscriptionPlans{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
    align-self: center;
    flex:1;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .subscription-plans-active{
    position: relative;
    width: 100%;
    flex: 1;
    top:120px;
    padding-left: 10px;
    left: 46%;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius:20px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    background-color: white;
    font-size: 20px;
    color: black;
    font-family: HelveticaNeueBold;
  }
  .plans{
      position: relative;
      flex:1;
      top: 200px;
      flex-direction: row;
      justify-content: space-evenly;
  }
  .plans-two{
      position: relative;
      flex: 1;
      top: 200px;
      flex-direction: row;
      justify-content: center;
  }
  .plans-three{
    position: relative;
    flex: 1;
    top: 200px;
    flex-direction: row;
    justify-content: center;
}

  /*--------------------------contact-us----------------------*/
#contact-page{
    flex: 1;
    top: 0;
    z-index: 10;
    background-color: white;
}
.address{
    font-size: 30;
    font-family: HelveticaNeueLight;
    color: #000;
    padding: 20px;
    line-height: 35px;
    margin-left: 50px;
    border-right: 2px solid #707070;
}
.info{
    font-size: 30;
    margin-left: 50px;
    font-family: HelveticaNeueLight;
    color: #000;
    padding: 20px;
    line-height: 30px;
}
.bigger{
    font-size: 30;
    font-family: HelveticaNeueRegular;
    color: #000;
}

  /*--------------------------request-page----------------------*/
  #request-title{
    top: 0;
    z-index: 10;
    width: 100vw;
    background-color: #ffffff;
    position: fixed;
}
.request-page{
    position:relative; 
    display: flex; 
    justify-content: center; 
    align-content: center;
    background-color: black;
}
.request-nav{
    font-family: HelveticaNeueLight;
    font-size: 30px;
}
.request-detail{
    font-family: HelveticaNeueLight; 
    font-weight: 600; 
    color: #000000;
    font-size: 34px;
}

.detail{
    font-family: HelveticaNeueLight; 
    font-weight: 600; 
    color: #000000;
}

.selected-item{
    width: 100%; 
    text-align: center;
    font-weight: 600;
    font-family: HelveticaNeueLight;
    color: #000000;
}
.select {
    position: relative;
    display: flex;
    border-radius: 25px;
    flex-direction: column;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: black;
}
.select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    font-size: 20px;
    font-weight: 300;
    color: #3b3b3b;
    height: 50px;
    line-height: 60px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 25px;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: black;
}
.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: -1;
    right: -1;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid black;
    border-top: 0;
    background: #fff;
    transition: all 0s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}
.select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 22px;
    font-weight: 600;
    font-family: HelveticaNeueLight;
    color: #000000;
    border-bottom-width: 1px;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.25s;
}
.custom-option:hover {
    cursor: pointer;
    background-color: #b2b2b2;
    border-radius: 25px;
}
.custom-option.selected {
    color: #000000;
}


.arrow {
    position: relative;
    height: 15px;
    width: 15px;
    border-radius: 7.5px;
    border-width: 1px;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.25s;
}
.arrow::before {
    left: -5px;
    transform: rotate(-45deg);
    background-color: #000000;
}
.arrow::after {
    left: 5px;
    transform: rotate(45deg);
    background-color: #000000;
}
.open .arrow::before {
    left: -5px;
    transform: rotate(45deg);
}
.open .arrow::after {
    left: 5px;
    transform: rotate(-45deg);
}




/*--------------------------our-work----------------------*/

@font-face {
    font-family: HelveticaNeueBold;
    src: url("./fonts/helvetica-neue-master/Helvetica\ Neue\ LT\ 75\ Bold.ttf");
  }
  @font-face {
    font-family: HelveticaNeueLight;
    src: url("./fonts/helvetica-neue-master/Helvetica\ Neue\ LT\ 45\ Light.ttf");
  }
  @font-face {
    font-family: HelveticaNeueMedium;
    src: url("./fonts/helvetica-neue-master/Helvetica\ Neue\ LT\ 65\ Medium.ttf");
  }
  @font-face {
    font-family: HelveticaNeueRegular;
    src: url("./fonts/helvetica-neue-master/HelveticaNeue-Regular.otf");
  }
  @font-face {
    font-family: HelveticaNeueRegularItalic;
    src: url("./fonts/helvetica-neue-master/HelveticaNeue-RegularItalic.otf");
  }
  @font-face {
    font-family: HelveticaNeueThin;
    src: url("./fonts/helvetica-neue-master/HelveticaNeue-Thin.otf");
  }
  @font-face {
    font-family: HelveticaNeueUltralight;
    src: url("./fonts/helvetica-neue-master/HelveticaNeue-Ultralight.otf");
  }